body {
	margin: 0;
	line-height: 0;
}

.hide{
	display: none;
}
@media screen and (min-width:1440px) {
	html {font-size: 24px;}
}

@media screen and (min-width:1280px) and (max-width:1439px){
	html {font-size:16px;}
}
@media screen and (min-width:1124px) and (max-width:1279px){
	html {font-size:14px;}
}
@media screen and (min-width:768px) and (max-width:1123px){
	html {font-size: 14px;}
}

.bg {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.bg>img {
	width: 100%;
	height: auto;
}

a.ft {
	position: absolute;
}

a.ft img {
	width: 100%;
	border: 0;
}

a.ft.ft1 {
	top: 0;
	left: 13.8%;
	width: 29%;
}

a.ft.ft2 {
	top: 0;
	left: 67.5%;
	width: 20.5%;
}

a.ft.ft3 {
	top: 0;
	left: 12.5%;
	width: 29%;
}

a.ft.ft4 {
	top: 0%;
	left: 57.7%;
	width: 31%;
}

a.ft.ft5 {
	left: 17.5%;
	bottom: 8%;
	width: 18%;
}

.hd {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	height: 90px;
	background-color: #000;
}

img.logo {
	position: absolute;
	top: 20px;
	line-height: 90px;
	float: left;
}

ul.hd-item {
	float: right;
	display: inline-block;
	list-style: none;
	margin-right: 10%;
	margin-top: 0;
	width: 80%;
}

ul.hd-item li {
	float: left;
	width: 12.5%;
	text-align: center;
	cursor: pointer;
}

ul.hd-item a {
	display: inline-block;
	width: 100%;
	height: 90px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	font-size: 24px;
	line-height: 102px;
	color: #b1b1b1;
	text-decoration: none;
	/* transition: all 0.3s ease-in 0s; */
}

.home-a {
	background-image: url(../img/nav08.png);
}
.home-a.cur {
	background-image: url(../img/nav18.png);
	background-size: 180px 60px;
}
.home-a:hover {
	background-image: url(../img/nav18.png);
	background-size: 180px 60px;
}

.aboutus-a {
	background-image: url(../img/nav01.png);
}
.aboutus-a.cur {
	background-image: url(../img/nav11.png);
	background-size: 180px 60px;
}
.aboutus-a:hover {
	background-image: url(../img/nav11.png);
	background-size: 180px 60px;
}


.qual-a {
	background-image: url(../img/nav02.png);
}
.qual-a.cur {
	background-image: url(../img/nav12.png);
	background-size: 180px 60px;
}
.qual-a:hover {
	background-image: url(../img/nav12.png);
	background-size: 180px 60px;
}


.catering-a {
	background-image: url(../img/nav03.png);
}
.catering-a.cur {
	background-image: url(../img/nav13.png);
	background-size: 180px 60px;
}
.catering-a:hover {
	background-image: url(../img/nav13.png);
	background-size: 180px 60px;
}

.menu-a {
	background-image: url(../img/nav04.png);
}
.menu-a.cur {
	background-image: url(../img/nav14.png);
	background-size: 180px 60px;
}
.menu-a:hover {
	background-size: 180px 60px;
	background-image: url(../img/nav14.png);
}


.activity-a {
	background-image: url(../img/nav05.png);
}
.activity-a.cur {
	background-image: url(../img/nav15.png);
	background-size: 180px 60px;
}
.activity-a:hover {
	background-image: url(../img/nav15.png);
	background-size: 180px 60px;
}


.field-a {
	background-image: url(../img/nav06.png);
}
.field-a.cur {
	background-size: 180px 60px;
	background-image: url(../img/nav16.png);
}
.field-a:hover {
	background-size: 180px 60px;
	background-image: url(../img/nav16.png);
}


.contanct-a {
	background-image: url(../img/nav07.png);
}
.contanct-a.cur {
	background-size: 180px 60px;
	background-image: url(../img/nav17.png);
}
.contanct-a:hover {
	background-size: 180px 60px;
	background-image: url(../img/nav17.png);
}


ul.eat-type-hd li {
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	width: 25%;
	cursor: pointer;
}

ul.eat-type-hd {
	width: 60%;
	position: absolute;
	margin: 0;
	padding: 0;
	top: 34%;
	left: 20%;
}

ul.eat-type-hd img {
	width: 100%;
	transition: 0.4s all ease-out 0s;
}

ul.hd-item img {
	width: 100%;
	height: auto;
}

span.pri {
	position: absolute;
	left: 50%;
	width: 20%;
	margin-left: -10%;
}

span.p1 {
	top: 20%;
	margin-left: -29%;
}

span.p2 {
	top: 40%;
	margin-left: -26%;
}

span.p3 {
	top: 40%;
	margin-left: -4%;
}

span.p4 {
	top: 62%;
	margin-left: -22%;
}

span.p5 {
	top: 62%;
	margin-left: 0;
}

span.p6 {
	top: 26%;
	margin-left: -19%;
}

span.p7 {
	top: 54%;
	margin-left: -24%;
}

span.p8 {
	top: 54%;
	margin-left: 0;
}

span.pri img {
	width: 100%;
	height: auto;
}

span.s4-bd {
	top: 0;
	position: absolute;
	left: 37%;
	width: 26%;
	margin-left: -13%;
	cursor: pointer;
}

span.s4-bd.a {
	/* top: 50%; */
}

span.s4-bd.b {
	top: 30%;
}

span.s4-bd.c {
	top: 60%;
}

span.s4-bd img {
	width: 100%;
}

div#ma-wrapper {
	position: absolute;
	/* bottom: 26%; */
	top: 49%;
	left: 50%;
	margin-left: -30%;
	width: 60%;
	/* background: yellow; */
	border: 0 dashed #CCC;
	overflow: hidden;
	box-sizing: border-box;
}

#ma-wrapper img {
	width: 168px;
	height: 120px;
}

div#ma-wrapper a {
	position: relative;
	display: block;
	margin: 0;
	padding: 40px 0;
	float: left;
	margin-right: 10px;
	/* left: 50%; */
	/* top: 50%; */
}

#ma-wrapper img {
	border: 3px solid #F2F2F2;
}

#indemo {
	float: left;
	width: 1500%;
}

#demo1,
#demo2 {
	float: left;
}

li.share {
	position: relative;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

li.weibo.share {
	background-image: url(../img/weibo.png);
}

li.tel.share {
	background-image: url(../img/tel.png);
	/* background-position: 0px; */
	/* width: 156px; */
}

li.weixin.share {
	background-image: url(../img/weixin.png);
}

ul.hd-share {
	position: absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	right: 10px;
	top: 30px;
	overflow: hidden;
}

.share a {
	/* display: inline-block; */
	/* width: 100%; */
	/* height: 100%; */
}

div#ma-wrapper a:hover{
	position: relative;
	padding: 10px 0px;
	margin-right: 0px;
	margin-left: -10px;
	z-index: 4;
}

div#ma-wrapper a:hover img {
  width: 300px;
  height: 214px;
  margin-top: -10px;
} 


span.price {
  position: absolute;
  font-size: 1em;
  color: #fff;
  right: 304px;
  top: 54%;
  right: 80%;
}

.wexin-pop {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  right: 8px;
  top: 80px;
}

.wexin-pop img {
  width: 200px;
  height: 200px;
}


.phone-pop {
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: black;
  position: absolute;
  right: 8px;
  top: 80px;
  color: #fff;
  text-align: center;
  font-family: "arial narrow";
  overflow: hidden;
}