@charset "UTF-8";
/* CSS Document */
html{font-size:16px}
@media screen and (min-width:1440px) {
	html {font-size:16px;}
}

@media screen and (min-width:1280px) and (max-width:1439px){
	html {font-size:16px;}
}
@media screen and (min-width:1124px) and (max-width:1279px){
	html {font-size:14px;}
}
@media screen and (min-width:768px) and (max-width:1123px){
	html {font-size:12px;}
}

.ban{width:100%;overflow:hidden}
.ban img{width:100%;height:auto}
.title_comp{width:940px;overflow:hidden;background:url(../img/e_title.png) no-repeat 0 0;padding:40px 0 0 0;height:20px;margin:0 auto}
.text_comp{width:940px;overflow:hidden;margin:50px auto 0;padding-bottom:30px;border-bottom:1px #d6d6d6 solid}
.text_comp p{line-height:24px;margin-bottom:40px;}
.list_comp{width:940px;overflow:hidden;line-height:24px;margin:50px auto 50px;}
.list_comp dl{width:50%;overflow:hidden;float:left}
.list_comp dl dt{width:100%;overflow:hidden;font-family:Arial;font-size:17px}
.list_comp dl dd{width:100%;overflow:hidden;margin:0}


.party{width:100%;overflow:hidden}
.party img{width:100%;height:auto}

.about{position:relative;width:100%;overflow:hidden}
.about > img{width:100%;height:auto}

.about .texts1{position:absolute;left:50%;margin-left:-30%;top:60%;width:60%;bottom:0;background:#fff;}
.about .texts1 img{width:100%;height:auto;display:block}
.about .texts1 p{line-height:1.6em;display:block;font-size:1em}

.about .texts2{position:absolute;left:50%;margin-left:-30%;top:45%;width:60%;bottom:0;background:#fff}
.about .texts2 img{width:100%;height:auto;display:block}
.about .texts2 p{line-height:1.6em;display:block;font-size:1em}


.menu{width:100%;overflow:hidden}
.menu img{width:100%;height:auto}
