@charset "UTF-8";
/* CSS Document */
.ban{width:100%;overflow:hidden}
.ban img{width:100%;height:auto}
.title_comp{width:940px;overflow:hidden;background:url(../img/e_title.png) no-repeat 0 0;padding:40px 0 0 0;height:20px;margin:0 auto}
.text_comp{width:940px;overflow:hidden;margin:50px auto 0;padding-bottom:30px;border-bottom:1px #d6d6d6 solid}
.text_comp p{line-height:24px;margin-bottom:40px;}
.list_comp{width:940px;overflow:hidden;line-height:24px;margin:50px auto 50px;}
.list_comp dl{width:50%;overflow:hidden;float:left}
.list_comp dl dt{width:100%;overflow:hidden;font-family:Arial;font-size:17px}
.list_comp dl dd{width:100%;overflow:hidden;margin:0}


.party{width:100%;overflow:hidden}
.party img{width:100%;height:auto}
.about{position:relative;width:100%;overflow:hidden}
.about img{width:100%;height:auto}
.about .text{position:absolute;width:48%;overflow:hidden;top:30%;left:50%;margin-left:-24%;}
.about .text p{line-height:24px;}

